Lyceum.xcodeproj/project.xcworkspace/xcuserdata/brayton.xcuserdatad/UserInterfaceState.xcuserstate
        Lyceum.xcodeproj/xcuserdata/brayton.xcuserdatad/xcschemes/xcschememanagement.plist
.DS_Store
UserInterfaceState.xcuserstate
